#!/usr/bin/env bash

export FINERACT_TENANT_ID="default"
export FINERACT_AUTH_MODE="basic"
export FINERACT_USERNAME="mifos"
export FINERACT_PASSWORD="password"
export FINERACT_BANK_ID="0720"
export FINERACT_ACCOUNT_PREFIX="000289"
export FINERACT_BANK_COUNTRY_CODE="UG"
export FINERACT_CHECK_DIGITS="68"
export FINERACT_LOCALE="en"
export HOST="localhost"
export PORT=3003
#Do not put the trailing slash on the url
export FINERACT_BASE_URL="https://demo.mifos.io/fineract-provider/api/v1"
